{% extends 'website/base.html' %}
{% load static %}

{% block 'content' %}
        <!-- Portfolio Section-->
        <section class="page-section portfolio" id="portfolio">
            <div class="container">
                <!-- Portfolio Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Cardápio</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Grid Items-->
                <div class="row justify-content-center">
                    <!-- Portfolio Item 1-->
                     {% for prato in pratos %}
                     <div class="card col-md-6 col-lg-4 mb-5 mx-3">
                        {% if prato.imagem %}
                        <img class="card-img-top" src="{{ prato.imagem.url }}" alt="..." />
                        {% else %}
                        <img class="card-img-top" src="{% static 'website/assets/img/placeholder.jpg' %}" alt="..." />
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ prato.nome }}</h5>
                            <p class="card-text">
                                <ul>
                                    <li><strong>Ingredientes: </strong>{{ prato.ingredientes }}</li>
                                    <li><strong>Preço: </strong>{{ prato.preco }}</li>
                                    <li><strong>Tempo de preparo: </strong>{{ prato.tempo }}</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                     {% endfor %}
                </div>
            </div>
        </section>
{% endblock %}